/* Error: Positional arguments must come before keyword arguments.
 *    ,
 * 77 |                     @include text-style($ta: left, $fz-big, Tahoma, gold);
 *    |                                                    ^^^^^^^
 *    '
 *   assets/scss/style.scss 77:52  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Positional arguments must come before keyword arguments.\a    \2577 \a 77 \2502                      @include text-style($ta: left, $fz-big, Tahoma, gold);\a    \2502                                                     ^^^^^^^\a    \2575 \a   assets/scss/style.scss 77:52  root stylesheet";
}
